@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: ;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: ;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: ;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}
body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
  top: 64px;
  position: absolute;
  width: 188px;
  left: -232px;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

header li {
  margin-bottom: 16px;
}

h1 {
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
}

/* h1 ~ p {
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
}
h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative;
}

pre {
  background: #fec62e;
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
}

.header-content {
  position: relative;
}

.main {
}

.wrapper {
  width: 902px;
  margin: auto;
}

.main-content {
  background: white;
}

blockquote {
  margin: 32px 0;
  padding-left: 16px;
  font-size: 24px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}

blockquote span {
  color: var(--gray10);
}
blockquote span::before {
  content: "-";
}

.hero {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent),
    url("../images/pattern.png");
  height: 350px;
}

.section-content {
  margin-top: 164px;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content {
  counter-reset: titleList;
}
.section-content + hr {
  display: none;
}

.section-content img {
  margin-top: 40px;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content ol li {
  line-height: 24px;
}
